doctype html
html(lang="en")
 head
  meta(charset='utf-8')
  title Sustainable House
  link(href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet')
  link(href='style/main.css' rel='stylesheet')
  meta(name='viewport' content='width=device-width,initial-scale=1')
 body
  -
    var bigfive = [
      {
        name: 'Design',
        slug: 'design',
        textLeft: 'Use breeze to cool down',
        textRight: 'Collect Rainwater, Reuse Graywater',
        info: [
        ]
      },
      {
        name: 'Materials',
        slug: 'materials',
        textLeft: 'Light Colors to reflect sun, sustainable materials that are durable.',
        textRight: 'Collect Rainwater, Reuse Graywater',
        info: [
        ]
      },
      {
        name: 'Insulation',
        slug: 'insulation',
        textLeft: 'Growing cities in desert environemnts are putting increasing strain on our lakes and rivers. This is one resource we cannot do without.',
        textRight: 'Captured rainwater can be filtered and used to drink, wash dishes, and shower. Caputred graywater from showers and sinks can be used to flush toilets, water plants, and cool rooms to multiply the gallon per gallon value of our water.',
        info: [
          'Double and Triple pane windows can trap heat much better than single pane.',
          'The correct insulation can drop heating costs by over 60% in the winter.'
        ]
      },
      {
        name: 'Power',
        slug: 'power',
        textLeft: 'If we could capture solar energy with 100% efficiency, and area the size of Rhode Island could power the world.',
        textRight: 'Right now we can utilize it better to power our appliances, light up our rooms, and capture it\'s heat to release later.',
        info: [
          'Solar panels can be installed on the roof to generate electricity that can be sold back to the grid.',
          'In windy areas, wind can be really great!'
        ]
      },
      {
        name: 'Gray water',
        slug: 'graywater',
        textLeft: 'The right choice depends on the right location. Using local building materials supports local economies and reduces the resources required to get them to the build site. Local plants are already adapted to the environment and require less resources to maintain.',
        textRight: 'Hot locales benefit from using lighter colors to reflect more heat. Cooler locations can use geothermal heat to stay warm. South facing windows let natural light in.',
        info: [
          'Capturing wastewater from showers is easy and allows you to save mostly good water.',
          'In windy areas, wind can be really great!'
        ]
      }
      
      
    ];
  .wrapper
   .items
    .item.item-index
     .item-main.item-main-index
      h2.item-title Sustainable
      .item-index-images
       img#overall-img.img-house.img-house-overall(src="images/main_house.png")
       each item in bigfive
        img.img-house.img-house-item(src="images/main_"+item.slug+".png" id=item.slug+"-img")
     .item-info.item-info-index
      ul.item-nav
        each item in bigfive
          li.item-nav-item
           a.item-nav-item-link(id=item.slug+'-link' href='#'+item.slug)= item.name
     a.item-title-anchor(name="index")
    each item in bigfive
      .item(class='item-'+item.slug)
       .item-main.item-section
        .item-main-inner
          h2.item-title= item.name
          .item-house-images
           .item-house-images-inner
            img.img-house.img-house-overall(src="images/main_house.png" id=item.slug+"-main-img")
            img.img-house.img-house-item(src="images/main_"+item.slug+".png" id=item.slug+"-section-img")
            - var i = 0
            while i < item.info.length
              img.img-house.img-house-item-info(src="images/"+item.slug+"_"+(i+1)+".png" id=item.slug+"-item-info-img-"+(i+1))
              - i++
          .item-info-detail-images
            - var i = 0
            while i < item.info.length
              button(id=item.slug+"-info-"+(i+1) class="item-info-"+(i+1))= item.slug

                img.item-info-a-image(src="images/"+item.slug+"_"+(i+1)+".png")
              - i++
       .item-info.item-section
        .item-text
         p.item-text-a= item.textLeft
         p.item-text-b= item.textRight
        .item-info-detail-text.item-text
          h3.item-info-detail-text-header Click the Icons to Learn more
          - var i = 0
          while i < item.info.length
            p.item-info-detail-text-p(id=item.slug+"-item-info-detail-text-p-"+(i+1))= item.info[i]
            - i++
       a.item-title-anchor(name=item.slug)
   .top-nav
     ul.top-nav-list
        li.top-nav-item
           a.top-nav-item-link(id='top-link' href='#index') Back To Top
        each item in bigfive
          li.top-nav-item
           a.top-nav-item-link(id=item.slug+'-link' href='#'+item.slug)= item.name
  script(type="text/javascript" src="js/main.dist.js")
        