doctype html
html(lang="en")
 head
  meta(charset='utf-8')
  title Sustainable House
  link(href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet')
  link(href='style/main.css' rel='stylesheet')
  meta(name='viewport' content='width=device-width,initial-scale=1')
 body
  -
    var bigfive = [
      {
        name: 'Design',
        slug: 'design',
        textLeft: 'Consider the principles of passive solar: welcome warming sunlight in winter, but shield your home from the heat in summer. You can regulate your home naturally instead of relying on artificial heating and cooling. Large, south-facing windows are great for collecting sunlight when you need it and keeping things shady when you don’t. Take a simple approach. Homes with low surface area are easier to heat and cool. Avoid sprawling homes or small nooks. Emphasize shared spaces.',
        textRight: 'Every day, the sun provides the earth with 10,000 times the total energy consumed by humans. A truly sustainable design lets us capture more of that energy — and make the most of it.',
        info: [
        ]
      },
      {
        name: 'Materials',
        slug: 'materials',
        textLeft: 'You have a choice when selecting building materials. Choose responsibly sourced materials when you can. Prioritize materials that will put in the work to make your home more sustainable. The environment will thank you. Make a slight pivot to more sustainable options. Locally sourced materials cut down on needless transportation costs during the construction process. Bamboo is a rapidly renewable, attractive alternative to traditional wood floors. Opt for materials with high thermal mass, like cement or dark stone. They absorb the sun’s warmth during the day, then release that heat during the night',
        textRight: 'Building a standard 2,500 square foot home creates 2 tons of construction waste. That’s 4,000 pounds — straight to a landfill.',
        info: [
        ]
      },
      {
        name: 'Insulation',
        slug: 'insulation',
        textLeft: 'Your home’s design does the leg work to bring in solar energy. Make sure to keep it there. Proper insulation in the major structural elements of your home retains heat and helps you use it more efficiently.',
        textRight: '20% of the United States’ annual energy use comes from heating and cooling our homes. Insulation can make a big difference.',
        info: [
          'Your insulation options might surprise you. Consider using finely shredded newspaper, old blue jeans, sheep’s wool, or greensulate made from mushroom fibers.',
          'More panes = less problems. Energy efficient windows with multiple panes of glass help control heat transfer into your home. Look for glass with “low-e” coating (microscopic layers of metallic oxides). You won’t notice a difference in the glass, but you’ll notice the difference in your electric bill.'
        ]
      },
      {
        name: 'Power',
        slug: 'power',
        textLeft: 'Once you’ve built a well-designed, well-insulated home, it’s time to generate your own energy! Solar panels can save you an average of $84 per month off your electric bill, and you’ll feel good about the energy your home does use.',
        textRight: 'The power consumption needs of the US could be met by solar panels covering an area of just 0.6% of the continental US.',
        info: [
          'Each year, solar panels can decrease your home’s carbon footprint by over 35,000 pounds of carbon dioxide. That’s 88 trees worth.',
          'A rooftop wind turbine can generate up to 25% of the electricity required for a domestic household. Consider combining both solar panels and wind turbines. They’re usually complimentary.'
        ]
      },
      {
        name: 'Gray water',
        slug: 'graywater',
        textLeft: 'Greywater is waste water that comes from our bathtubs, shower drains, sinks, washing machines, and dishwashers. It has potential to be reused in our homes in ways blackwater can’t.',
        textRight: 'Not all wastewater is created equally. Grey water accounts for 60% of the outflow produced by our homes, and it contains little to no pathogens.',
        info: [
          'Save up to 30% on your monthly water bills by capturing and recycling greywater from your home.',
          'Nutrients in greywater like phosphorus and nitrogen can be a great food source for your plants. With minimal treatment, it’s a perfect way to irrigate your garden (especially during a drought).'
        ]
      }
      
      
    ];
  .wrapper
   .items
    .item.item-index
     .item-main.item-main-index
      h2.item-title Sustainable
      .item-index-images
       img#overall-img.img-house.img-house-overall(src="images/main_house.png")
       each item in bigfive
        img.img-house.img-house-item(src="images/main_"+item.slug+".png" id=item.slug+"-img")
     .item-info.item-info-index
      ul.item-nav
        each item in bigfive
          li.item-nav-item
           a.item-nav-item-link(id=item.slug+'-link' href='#'+item.slug)= item.name
     a.item-title-anchor(name="index")
    each item in bigfive
      .item(class='item-'+item.slug)
       .item-main.item-section
        .item-main-inner
          .item-house-images
           .item-house-images-inner
            img.img-house.img-house-overall(src="images/main_house.png" id=item.slug+"-main-img")
            img.img-house.img-house-item(src="images/main_"+item.slug+".png" id=item.slug+"-section-img")
            - var i = 0
            while i < item.info.length
              img.img-house.img-house-item-info(src="images/"+item.slug+"_"+(i+1)+".png" id=item.slug+"-item-info-img-"+(i+1))
              - i++
          .item-info-detail-images
            - var i = 0
            while i < item.info.length
              button(id=item.slug+"-info-"+(i+1) class="item-info-"+(i+1))

                img.item-info-a-image(src="images/"+item.slug+"_"+(i+1)+".png")
              - i++
       .item-info.item-section
        h2.item-title= item.name
        .item-text
         p.item-text-b= item.textRight
         p.item-text-a= item.textLeft
        .item-info-detail-text.item-text
          h3.item-info-detail-text-header Click the icons to learn more
          - var i = 0
          while i < item.info.length
            p.item-info-detail-text-p(id=item.slug+"-item-info-detail-text-p-"+(i+1))= item.info[i]
            - i++
       a.item-title-anchor(name=item.slug)
   .top-nav
     ul.top-nav-list
        li.top-nav-item
           a.top-nav-item-link(id='top-link' href='#index') Back To Top
        each item in bigfive
          li.top-nav-item
           a.top-nav-item-link(id=item.slug+'-link' href='#'+item.slug)= item.name
  script(type="text/javascript" src="js/main.dist.js")
        